extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
        a(href="/traveltour") Travel Tour
    li
        a(href="siteX") Site X
    li
        a(href="https://jonghwanwon.github.io/removie/") Create-React-App with Do2Folio
